body{
	background-color:#DAF7A6;
}
.active{
	color: #330107;
	font-weight: bold;
}
#carouselExampleIndicators{
	margin: auto;
}
.nav-class{
	position: fixed;
	z-index: 9999;
	width: 100%;
}

@media screen and (min-width:400px){
	.navbar-brand{
		margin: auto;
	}
}

@media screen and (max-width:720px){
	.logo{
		width: 5%;
	}
}